<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h3>Edit Your Chat</h3>
    <p>From : <b><%= chat.from %></b></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea rows="10" cols="35" name="msg"><%= chat.msg %></textarea>
        <br>              
        <button>Edit</button>
    </form>
    <p>Received by <b><%= chat.to %></b></p>
</body>
</html>