body{
    margin-left: 20px;
}

.chat{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 16px;
    display: inline-block;
    border: 1px solid #000;
    width: 200px;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}